/* 
    Document   : localcss
    Created on : 18-Sep-2013, 22:17:29
    Author     : emryswilliams
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.mainDisplay {
    font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    line-height: 1.5em;
    background-color: rgba(249, 227, 204, 1);
    border-radius: 0.6em;
    margin: 1em;
    padding: 1em;
    width: 50em;
}
.parmTitle {
    display: inline-block;
    width: 12em;
}

.invalid {
    background-color: rgba(255,0,0, 0.1);
}

.ib {
    display: inline-block;
}

.column {
    display: inline-block;
    width: 6em;
}

.columnInput {
    width: 5em;
}

.redAlert {
    color: red;
    font-weight: bold;
    display: inline-block;
}

.development {
    font-family: monospace;
    margin: 2em;
    padding: 2em;
}
.developmentBox {
    border-radius: 0.5em;
    padding: 0.3em 1em;
    border: 1px solid rgba(0,0,0,0.2);
    width: 20em;
    margin: 1em 0em;
}
.smallButton:hover {
    box-shadow: 0.2em 0.2em 0.3em cornflowerblue;
}
.smallButtonDead {
    color: #888888;
}
.ePanel {
    border-radius: 0.5em;
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(249, 227, 204, 1);
    box-shadow: 0em 0em 1em grey;
}

.julianWarning {
    color: rgba(128, 0, 0, 1);
}

.settings {
    font-family: verdana;
    font-size: 0.8em;
}
.editable {
    margin: 0.5em;
    width: 60em;
    height: 4em;
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #ccffff;
}